label {
    color: #ffffff;
}
.enviar {
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    background-image: linear-gradient(245deg, #d681ff 0, #b36bff 25%, #8953f2 50%, #e13ddb 75%, #660391 100%);
    
    }
.card{
	margin-left: 10%;
	margin-right: 10%;
    margin-bottom: 10%;
}

.bg{
    background-image: linear-gradient(245deg, #d681ff 0, #b36bff 25%, #3e0644 50%, #230e21 75%, #30082c 100%);
}
